.navbar_container {
  background: rgba(0, 0, 0, 0.95);
}

.navbar {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px clamp(20px, 5vw, 50px);
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.brand {
  height: auto;
  width: clamp(150px, 20vw, 200px);
}

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  gap: clamp(10px, 2vw, 30px);
}

.nav {
  font-size: clamp(0.8em, 1.5vw, 1em);
  cursor: pointer;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.nav:hover {
  transform: translateY(-3px);
  transition: all 0.3s ease-in-out;
  color: #69d9f5;
}
