.FooterColoursGradiant {
  background-image: linear-gradient(
  90deg,
  hsl(213deg 73% 12%) 0%,
  hsl(211deg 78% 16%) 7%,
  hsl(211deg 81% 19%) 14%,
  hsl(211deg 82% 21%) 20%,
  hsl(210deg 83% 24%) 27%,
  hsl(210deg 83% 26%) 34%,
  hsl(210deg 84% 28%) 40%,
  hsl(210deg 84% 29%) 47%,
  hsl(210deg 84% 29%) 53%,
  hsl(210deg 82% 28%) 60%,
  hsl(210deg 81% 26%) 66%,
  hsl(210deg 79% 25%) 73%,
  hsl(209deg 76% 23%) 79%,
  hsl(209deg 73% 21%) 86%,
  hsl(207deg 69% 18%) 93%,
  hsl(204deg 62% 15%) 100%
);
}
.FooterColoursGradiant2 {
    background-image: linear-gradient(
        90deg,
        hsl(210deg 73% 29%) 0%,
        hsl(210deg 73% 30%) 7%,
        hsl(210deg 73% 30%) 14%,
        hsl(210deg 73% 30%) 20%,
        hsl(210deg 73% 30%) 27%,
        hsl(210deg 73% 30%) 34%,
        hsl(210deg 73% 30%) 40%,
        hsl(210deg 73% 30%) 47%,
        hsl(210deg 73% 30%) 53%,
        hsl(210deg 73% 31%) 60%,
        hsl(210deg 73% 31%) 66%,
        hsl(210deg 73% 31%) 73%,
        hsl(210deg 73% 31%) 79%,
        hsl(210deg 73% 31%) 86%,
        hsl(210deg 73% 31%) 93%,
        hsl(210deg 72% 31%) 100%
      );
      box-shadow: 4px 4px 11px 0px rgba(0,0,0,0.36);
}
.FooterColoursGradiant3 {
    background-image: linear-gradient(
        90deg,
        hsl(212deg 57% 19%) 0%,
        hsl(212deg 60% 20%) 9%,
        hsl(212deg 62% 21%) 19%,
        hsl(211deg 63% 22%) 28%,
        hsl(211deg 65% 23%) 37%,
        hsl(211deg 66% 24%) 45%,
        hsl(211deg 67% 25%) 54%,
        hsl(211deg 69% 25%) 63%,
        hsl(210deg 70% 26%) 72%,
        hsl(210deg 71% 27%) 81%,
        hsl(210deg 71% 28%) 91%,
        hsl(210deg 72% 28%) 100%
      );
      box-shadow: 4px 4px 11px 0px rgba(0,0,0,0.36);
}